@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../content/**/*.mdx";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

@layer base {
  ::selection {
    background-color: #f97316;
    /* orange-500 */
    color: white;
  }
}

@layer utilities {
  .prose a {
    @apply text-orange-600 hover:text-orange-700 dark:text-orange-500 dark:hover:text-orange-400 no-underline hover:underline;
  }

  .prose strong {
    @apply text-zinc-900 dark:text-zinc-100;
  }
}